body{
    background-color: #5AD1E3;
    overflow: hidden;
}

div{
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
}
#request{
    position: fixed;
    width: 100%;
    bottom: 10px;
    height:40px;
}

#postbox, #submit{
    position: fixed;
    left: 75px;
}

#postbox{
    height: 50px;
    width: 475px;
    font-size: 32px;
    bottom:10px;
    font-family: 'Indie Flower', cursive;
    left: 375px;
    text-align: center;
}

#submit{
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
    height: 50px;
    width: 100px;
    bottom: 10px;
    left: 850px;
}

#bubble1{
    position: absolute;
    top: 385px;
    width: 100%;
    height: 125px;
    z-index = -1;
}

#p1{
    position: absolute;
    width: 262px;
    height: 113px;
    top: 460px;
    left: 75px;
    text-align: center;
}

#p2{
    position: absolute;
    width: 241px;
    height: 96px;
    top: 473px;
    right: 70px;
    text-align: center;
}

#p3{
    position: absolute;
    width: 241px;
    height: 96px;
    top: 473px;
    left: 75px;
    text-align: center;
}

#p4{
    position: absolute;
    width: 241px;
    height: 96px;
    top: 460px;
    right: 70px;
    text-align: center;
}

#bubble2{
    position: absolute;
    top: 395px;
    right: 0;
    width: 100%;
    height: 125px;
    text-align: right;
}

#bubble3{
    position: absolute;
    top: 395px;
    right: 0;
    width: 100%;
    height: 125px;
}

#bubble4{
    position: absolute;
    top: 385px;
    width: 100%;
    height: 125px;
    text-align: right;
    z-index: -1;
}

.show1{
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}

.show2{
    visibility: visible;
    opacity: 1;
    transition: all .5s;
}

.show3{
    visibility: visible;
    opacity: 1;
    transition: all .5s;
}

.show4{
    visibility: visible;
    opacity: 1;
    transition: all .5s;
}
.hide{
    visibility: hidden;
    opacity: 0;
}